.carta {
  opacity: 1;
  -webkit-transition: opacity 2s ease-in;
  -moz-transition: opacity 2s ease-in;
  -o-transition: opacity 2s ease-in;
  -ms-transition: opacity 2s ease-in;
  transition: opacity 2s ease-in;
}

h1, h2 {
  text-align: center;
  margin-top: 2rem;
}

.link {
  text-decoration: none;
  color: #fff;
}

.link:hover {
  color:#ddd
}

.pe-pointer{
  cursor: pointer
}
